@model IEnumerable<SachOnlineLab01.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhBia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUDE.TenChuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHAXUATBAN.TenNXB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnhBia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSach }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSach })
        </td>
    </tr>
}

</table>
