@using SachOnlineLab01.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SachOnlineLab01.Models.KHACHHANG>

@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align: center;">QUẢN LÝ THÔNG TIN KHÁCH HÀNG</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align: center;">
            Mã khách hàng
        </th>
        <th style="text-align: center;">
            Họ tên khách hàng
        </th>
        <th style="text-align: center;">
            Địa chỉ khách hàng
        </th>
        <th style="text-align: center;">
            Số điện thoại khách hàng
        </th>
        <th style="text-align: center;">
            Tên đăng nhập
        </th>
        <th style="text-align: center;">
            Mật khẩu
        </th>
        <th style="text-align: center;">
            Ngày sinh
        </th>
        <th style="text-align: center;">
            Email
        </th>
        <th style="text-align: center;">
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.MaKH
    </td>
    <td>
        @Truncate(item.HoTen, 50)
    </td>
    <td>
        @Truncate(item.DiaChi, 50)
    </td>
    <td>
        @item.DienThoai
    </td>
    <td>
        @item.TaiKhoan
    </td>
    <td>
        @item.MatKhau
    </td>
    <td>
        @item.NgaySinh
    </td>
    <td>
        @item.Email
    </td>
    <td>
        <a href="@Url.Action("Edit", new { id = item.MaKH })" class="btn btn-warning" role="button">Sửa</a>
        <a href="@Url.Action("Details", new { id = item.MaKH })" class="btn btn-primary" role="button">Chi tiết</a>
        <a href="@Url.Action("Delete", new { id = item.MaKH })" class="btn btn-danger" role="button">Xóa</a>
    </td>
</tr>
    }

</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>

